*.suo
*.pidb
*.userprefs
_ReSharper.*
bin
obj

/Wiki

/*.unityproj
/*.csproj
/*.sln
/Library
/Temp

.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

/z. Models

Newtonsoft.Json.Net20.dll.mdb
Newtonsoft.Json.Net20.xml

Assets/UnityVS
Assets/UnityVS.meta